<% content_for(:site_title) { t('.ist_nala_auf_kreuzfahrt') } %>
<div class="display">
  <h1 id="title"><%= @message %></h1>
  <div id="DateCountdown" data-date="<%= @date.httpdate %>" style="width: 100%px; padding: 0px; box-sizing: border-box;"></div>
</div>

<script>
var kf_counter = null;

kf_counter = $("#DateCountdown").TimeCircles({
  use_background: false,
  animation: "tick",
  time: {
      Days: { color: "#C0C8CF", text: "<%= t('.days') %>" },
      Hours: { color: "#C0C8CF", text: "<%= t('.hours') %>" },
      Minutes: { color: "#C0C8CF", text: "<%= t('.minutes') %>" },
      Seconds: { color: "#C0C8CF", text: "<%= t('.seconds') %>" }
  }
  }).addListener(function(unit,value,total) {
    if (unit == 'Minutes') {
      $.ajax({
        url: window.location.href,
        dataType: "json",
        success: function (data, textStatus, jqXHR) {
          if (window.location.href != data.url) {
            window.location = data.url;
          }
          if ($("#DateCountdown").attr('data-date') != data.date) {
            $("#DateCountdown").attr('data-date', data.date);
            var current = Date.now()+(kf_counter.getTime()*1000);
            var diff = Date.parse($("#DateCountdown").attr('data-date'))-current;
            kf_counter.addTime(diff/1000);
          }
          if ($("#title").text() != data.message) {
            $("#title").text(data.message);
          }
        }
      });
    }
  }, type="all");

$( window ).resize(function() {
  kf_counter.rebuild();
});
</script>
