<p id="notice"><%= notice %></p>

<h1>Listing Ship Positions</h1>

<table>
  <thead>
    <tr>
      <th>Mmsi</th>
      <th>Position</th>
      <th>Speed</th>
      <th>Course</th>
      <th>Status</th>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.mmsi %></td>
        <td><%= position.position %></td>
        <td><%= position.speed %></td>
        <td><%= position.course %></td>
        <td><%= position.status %></td>
        <td><%= position.timestamp %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
