<!DOCTYPE html>
<html class="controller-<%= params[:controller] %>">
<head>
  <title>Cruiselog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-<%= params[:controller] %>">

<%= yield %>

<div id="footer">
  <div class="center">
   <h1><%= content_for(:site_title) || 'CruiseLog' %></h1>
  </div>
</div>

</body>
</html>
