<!DOCTYPE html>
<html class="controller-<%= params[:controller] %>">
<head>
  <title>Cruiselog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-<%= params[:controller] %>">

<h1 class="banner"><%= content_for(:site_title) || 'CruiseLog' %></h1>

<%= yield %>

</body>
</html>
